################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BrainParse.Library.CheapIdLib/BrainParse.Library.CheapIdLib
